#list1 .form-control {
  border-color: transparent;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}
.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.user-info h6 {
    color: #666666;
    margin: 0;
    font-size: 14px;
}

.logout-btn {
    color: #666666;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
}

.logout-btn:hover {
    color: #d31717;
}

.task-item {
    border-bottom: 1px solid #dfe3e6 !important;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.completed {
    text-decoration: line-through;
    color: #666666;
}