#list1 .form-control {
  border-color: transparent;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}
h2 {
    text-align: center;
}

.task-item {
    border-bottom: 1px solid #dfe3e6 !important;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.completed {
    text-decoration: line-through;
    color: #666666;
}